body, html {
  height: 100%;
}

.app_container {
  width: 100%;
  min-height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.app_background {
  width: 100%;
  background-color: #f0f0f0;
  min-height: 1000px;
}

.norm_padding, .landing_img_text {
  padding: 1em;
}

.landing-title {
  margin: 1.5em auto .5em auto !important;
}

.landing-subtitle {
  margin: 0 auto 1em 10% !important;
}

.landing_block {
  position: relative;
  margin-bottom: 2em !important;
}

.landing_block.first {
  margin-bottom: 5em !important;
}

.landing_block:nth-of-type(2n+1) {
  background-color: #fafafa;
}

.landing_block > img.large {
  width: 80%;
  right: 10px;
}

.limit_lg {
  max-width: 600px;
}

.limit_md {
  max-width: 400px;
}

.limit_sm {
  max-width: 200px;
}

ul, ol {
  padding-left: 20px;
}

a {
  font-style: normal;
  font-weight: bolder;
  color: #dd5542;
}

.grid_img {
  width: 100%;
}

.landing_img_text {
  background-color: #f0f0f0 !important;
}

.landing_img_text.large {
  background-color: rgba(240, 240, 240, 0.75) !important;
  width: 60%;
  position: absolute;
  left: 10px;
  bottom: -60px;
}

.landing_img_text > h2 {
  color: #dd5542;
  font-weight: 600;
  border-bottom: 3px #dd5542 solid;
}

.landing_img_text .landing_text_block {
  background-color: rgba(240, 240, 240, 0.75) !important;
}

.landing_img_text .landing_text_block > h2 {
  color: #dd5542;
  font-weight: 600;
  border-bottom: 3px #dd5542 solid;
}

.supertitle {
  font-size: 10pt;
  color: gray;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.1em;
}

.inline-icon {
  margin: 3px;
  font-size: inherit !important;
  top: 5px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.inline-icon:hover {
  transform: scale(1.4);
}

.big-number {
  color: #dd5542;
  text-transform: capitalize;
  padding: 0.25em 0 0.24em;
  justify: center;
}

.rotate-180 {
  transition: all 0.70s ease;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

.rotate-180.now {
  transition: all 0.70s ease;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

table > thead > tr > th,
tbody > tr > th {
  font-weight: bold !important;
  font-size: 12pt !important;
  color: black !important;
  padding: 10px !important;
  text-align: center !important;
}

tbody > tr > td {
  padding: 10px !important;
  font-size: 12pt;
  justify: center;
}

table.options-table > tbody > tr > th {
  width: 10%;
}

table.options-table > tbody > tr > td {
  width: 30%;
}
