body, html {
    height: 100%;
}

.app_container {
  width: 100%;
  min-height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.app_background {
  width: 100%;
  background-color: rgba(240,240,240,1);
  min-height: 1000px;
}

.norm_padding {
  padding: 1em;
}


.landing-title {
  margin:1.5em auto .5em auto !important;
}

.landing-subtitle {
  margin: 0 auto 1em 10% !important;

}

.landing_block {
  position: relative;
  margin-bottom: 2em !important;

  &.first {
    margin-bottom: 5em !important;
  }

  &:nth-of-type(2n+1) {
    background-color: rgb(250,250,250);
  }

  & > img.large {
    width: 80%;
    right: 10px;
  }
}

.limit_lg {
  max-width: 600px;
}

.limit_md {
  max-width: 400px;
}

.limit_sm {
  max-width: 200px;
}

ul, ol {
  padding-left: 20px;
}

a {
  font-style: normal;
  font-weight: bolder;
  color: rgb(221,85,66);
}

.grid_img {
  width: 100%;
}

.landing_img_text {
  @extend .norm_padding;
  background-color: rgba(240,240,240,1) !important;

  &.large {
    background-color: rgba(240,240,240,.75) !important;
    width: 60%;
    position: absolute;
    left: 10px;
    bottom: -60px;
  }

  & > h2 {
    color: rgb(221,85,66);
    font-weight: 600;
    border-bottom: 3px rgb(221,85,66) solid;
  }

  .landing_text_block {
    background-color: rgba(240,240,240,.75) !important;

    & > h2 {
      color: rgb(221,85,66);
      font-weight: 600;
      border-bottom: 3px rgb(221,85,66) solid;
    }
  }
  // &>p {
  //   border-left: 3px red solid;
  //   padding: .25em;
  // }
}

.supertitle {
  font-size: 10pt;
  color: gray;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.1em;
}

.inline-icon {
  margin: 3px;
  font-size: inherit !important;
  top: 5px;
  position: relative;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.4);
  }
}

.big-number {
  color: rgb(221,85,66);
  text-transform: capitalize;
  padding: 0.25em 0 0.24em;
  justify: center;
}

.rotate-180 {
  transition: all 0.70s ease;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  &.now {
    transition: all 0.70s ease;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  }
}

//TABLE SETUP

table > thead > tr > th,
tbody > tr > th {
  font-weight: bold !important;
  font-size: 12pt !important;
  color: black !important;
  padding: 10px !important;
  text-align:center !important;
}

tbody > tr > td {
  // &:nth-of-type(odd) {
  //   background-color: rgb(240,240,240);
  // }
  padding: 10px !important;
  font-size: 12pt;
  justify: center;
}

table.options-table > tbody > tr {
  & > th {
    width: 10%;
  }

  & > td {
    width: 30%;
  }
}
